/* Color palette

Light orange: #F0972D
Dark orange:#FF7C00
Dark blue: #254f76 */

/* GLOBAL SETTINGS */
/* GLOBAL SETTINGS */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2 {
    font-family: 'Vollkorn', serif;
    text-align: center;
}

.sideCushion {
    max-width: 300px;
    width: 80vw;
    margin: 0 auto;
}


/* INDIVIDUAL SETTINGS */
/* INDIVIDUAL SETTINGS */

/* TOP NAVIGATION PANEL SETTINGS */
/* TOP NAVIGATION PANEL SETTINGS */
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 1rem;
    color: #aaaaaa;
    margin: 0;
}

.navigationContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1rem);
    font-size: x-large;
    transform: translateX(100%);
}

.navigationContainer li {
    padding-bottom: 1rem;
}

.navigationContainer a {
    text-decoration: none;
    color: white;
}

.navigationContainer a:hover {
    padding: 0 1rem;
    border-bottom: 0.25rem solid #007699;
}

/* MOBILE NAVIGATION TOGGLE BUTTON SETTINGS */
.mobileNavToggleBtn {
    z-index: 99;
    position: absolute;
    top: 4rem;
    right: 2rem;
    padding: 0;
    background-image: url(./images/icon-hamburger.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
}

/* When navigationContainer is out of Viewport area, data-visible is false. JS can modify the value and turn it to True. When it turns True, CSS can bring the container inside the Viewport using the transform:translate() settings, making it visible! */
.navigationContainer[data-visible="true"] {
    transform: translateX(0%);
}

/* INTRO SETTINGS */
.intro {
    padding: 40px 0;
}

.intro h1 {
    margin-top: 0;
}

.intro p {
    border-left: 4px solid #FF7C00;
    padding-left: 16px;
    line-height: 1.75rem;
}

.intro p:nth-child(3) {
    border-left: 4px solid #007699;
}


/* TARGET GROUP SETTINGS */
.targetGroup {
    background: rgb(37, 79, 118);
    background: linear-gradient(45deg, rgba(37, 79, 118, 1) 0%, rgba(0, 118, 153, 1) 100%);
    color: white;
    padding: 40px 0;
}

.targetGroup h2 {
    margin-top: 0;
}

.targetGroup h3 {
    margin-bottom: 0;
    color: #F0972D;
    text-shadow: .5px .5px 1px black;
}

.targetGroup p {
    margin-top: 0;
    font-size: 0.8rem;
    line-height: 1.5rem;
}


/* STAKEHOLDER/CLIENT SECTION SETTINGS */
.stakeholderInfo {
    padding-top: 40px;
}

.stakeholderInfo h2 {
    margin-top: 0;
}

.stakeholderInfo p {
    line-height: 1.75rem;
    text-align: center;
    margin-bottom: 0;
}


/* STAKEHOLDER/CLIENT LOGO SETTINGS */
.stakeholderLogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 40px;
}

.stakeholderLogo img {
    max-width: 150px;
}


/* FOOTER SETTINGS */
footer {
    background-color: #222222;
    color: #aaaaaa;
    padding: 40px 0;
    font-size: 0.8rem;
    text-align: center;
}

.footerIntro {
    line-height: 1.5rem;
    margin-top: 0;
}

.termsConditions a {
    text-align: center;
    display: block;
    line-height: 2rem;
    color: #aaaaaa;
}